.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background: var(--black);
}

.header-text {
  font-size: 50px;
}

/* ------- MEDIA QUERY --------- */
@media screen and (max-width: 768px) {
  .header-text {
    font-size: 28px;
  }
}
