.tech-icon {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  border: 0.25px solid lightgray;
  border-radius: 50%;
}

.link-card {
  /* height: 40px;
  width: 40px;
  margin-right: 5px;
  border: 0.25px solid lightgray;
  border-radius: 50%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: "white";
  height: 60px;
  width: 75px;
  background-color: black;
  /* border: 1px solid black; */
}
