:root {
  --black: black;
  --white: white;
  --accent-color: orange;
  --background-color: cornflowerblue;
  --header-height: 12vh;
  --photo-height: 21vh;
  --footer-height-mobile: 10vh;
}

body {
  font-family: "Raleway", "Nunito Sans", "Notable", sans-serif;
}
